.root {
  height: 48px;
  padding: 8px 16px 8px;
  display: flex;
  align-items: center;
}

.tabs {
  color: var(--active);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.divider {
  background: var(--active);
  width: 2px;
  height: 2px;
  border-radius: 1px;
}

.active {
  font-weight: 500;
}