.root {
  overflow-y: scroll;
  padding: 0px 8px 8px;
  display: grid;
  height: calc(100% - 56px - 48px);
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 240px 1fr;
  grid-template-areas:
    "box1 box1 box2 box2"
    "box3 box4 box2 box2";
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}