.root {
  background: var(--main-bg-color);
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border-bottom: 1px solid var(--black-10);
  height: 56px;
  padding: 8px;
}

.links {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--active);
  transition: all ease-in-out 0.3s;
  opacity: 0.5;
}

.link:hover {
  background: var(--active-10);
}

.link:active {
  transform: translateY(2px);
  transition: all ease-in-out 0.1s;
}

.link.active {
  transition: all ease-in-out 0.3s;
  opacity: 1;
}

.link.disabled {
  text-decoration: line-through;
  opacity: 0.15;
}